<h1><%= @board.name %></h1>


<%= link_to 'Edit Board', edit_board_path(@board), class: "ui blue button inverted" %>
<%= link_to 'Delete Board', board_path(@board), method: :destroy, class: "ui red button inverted" %>
